body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: white;
}

.screen {
  display: none;
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  z-index: 2;
}


.screen.active {
  display: block;
}

button {
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  margin: 15px;
}

#yes {
  background: #ff2e63;
  color: white;
}

#no {
  background: white;
  color: black;
  position: absolute;
}

#final {
  font-size: 26px;
  margin-top: 20px;
}
.heart {
  position: fixed;
  bottom: -20px;
  font-size: 24px;
  animation: floatUp linear infinite;
  opacity: 0.8;
}

@keyframes floatUp {
  to {
    transform: translateY(-110vh);
    opacity: 0;
  }
}

.buttons {
  position: relative;
  height: 120px;
  margin-top: 30px;
}
